[submodule "deps/luajit"]
	path = deps/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/ljuv"]
	path = deps/ljuv
	url = https://github.com/pguillory/luajit-libuv
